<div class="row">
    <div class="col mx-auto">
        <h4>Bounding Box Coordinates: </h4>
    </div>
</div>
<form>
    <div class="row" data-ng-if="ctrl.showBoundingInfoLoader">
        <div class="col mx-auto">
            <div class="loader"></div>
        </div>
    </div>
    <div data-ng-if="!ctrl.showBoundingInfoLoader">
        <div class="form-group row">

            <div class="col-2 mx-auto">
                <h5>Lower Left Corner:</h5>
            </div>
            <label for="lowerLeftLat" class="col-1 col-form-label">Latitude:</label>
            <div class="col-2 mx-auto">
                <input type="text" class="form-control" id="lowerLeftLat" data-ng-model="ctrl.boundingInfo.lowerLeft.lat">
            </div>

            <label for="lowerLeftLng" class="col-1 col-form-label">Longitude:</label>
            <div class="col-2 mx-auto">
                <input type="text" class="form-control" id="lowerLeftLng" data-ng-model="ctrl.boundingInfo.lowerLeft.lng">
            </div>

        </div>

        <div class="form-group row">

            <div class="col-2 mx-auto">
                <h5>Upper Right Corner:</h5>
            </div>
            <label for="lowerLeftLat" class="col-1 col-form-label">Latitude:</label>
            <div class="col-2 mx-auto">
                <input type="text" class="form-control" id="upperRightLat" data-ng-model="ctrl.boundingInfo.upperRight.lat">
            </div>

            <label for="lowerLeftLng" class="col-1 col-form-label">Longitude:</label>
            <div class="col-2 mx-auto">
                <input type="text" class="form-control" id="upperRightLng" data-ng-model="ctrl.boundingInfo.upperRight.lng">
            </div>

        </div>

        <div class="form-group row">
            <div class="col mx-auto">
                <button type="submit"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        data-ng-click="ctrl.showCenter()"
                        data-ng-disabled="!ctrl.boundingInfo.lowerLeft"
                >Show Center</button>
                <button type="submit"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#confirmModal"
                        data-ng-click="ctrl.showConfirmModal(ctrl.updateCornersAction)"
                        data-ng-disabled="!ctrl.boundingInfoChanged()"
                >Update Bounding Info</button>
            </div>
        </div>
    </div>
</form>

<hr>

<div class="row">
    <div class="col mx-auto">
        <h4>Users: </h4>
        <div class="form-group">
            <label for="userSearch">Search users</label>
            <input id="userSearch" type="text" data-ng-model="ctrl.userSearch">
        </div>
        <div class="users-table">
            <div class="loader" data-ng-if="ctrl.showUsersLoader === true"></div>
            <table class="table table-striped" data-ng-if="ctrl.showUsersLoader === false">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Display Name</th>
                        <th>Status</th>
                        <th>Change Admin Status</th>
                        <th>Delete User</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="user in ctrl.users | filter: ctrl.filterUsers">
                        <td>{{user.username}}</td>
                        <td>{{user.displayName}}</td>
                        <td><span data-ng-if="user.isAdmin">Administrator</span></td>
                        <td>
                            <button type="button"
                                    class="btn btn-warning btn-sm btn-block"
                                    data-toggle="modal"
                                    data-target="#confirmModal"
                                    data-ng-if="!user.isAdmin"
                                    data-ng-click="ctrl.showConfirmModal(ctrl.changeAdminAction, user)"
                            >Make administrator</button>
                            <button type="button"
                                    class="btn btn-warning btn-sm btn-block"
                                    data-toggle="modal"
                                    data-target="#confirmModal"
                                    data-ng-if="user.isAdmin"
                                    data-ng-click="ctrl.showConfirmModal(ctrl.changeAdminAction, user)"
                            >Remove Admin status</button>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-danger btn-sm btn-block"
                                    data-toggle="modal"
                                    data-target="#confirmModal"
                                    data-ng-click="ctrl.showConfirmModal(ctrl.deleteUserAction, user)"
                            >Delete User</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col mx-auto">
        <h5 class="d-inline-block">Stream:</h5>
        <span data-ng-if="ctrl.streamConnected">Connected</span>
        <span data-ng-if="!ctrl.streamConnected">Disconnected</span>
    </div>
    <div class="col mx-auto">
        <span>Tweets collected: {{ctrl.tweetsCollected}}</span>
    </div>
    <div class="col mx-auto">
        <button type="button" class="btn btn-success" data-ng-if="!ctrl.streamConnected" data-ng-click="ctrl.connectStream()">Connect Stream</button>
        <button type="button" class="btn btn-success" data-ng-if="ctrl.streamConnected" data-ng-click="ctrl.closeStream()">Disconnect Stream</button>
    </div>
    <div class="col mx-auto">
        <span>Total Tweets: {{ctrl.totalTweets}}</span>
    </div>
</div>

<hr>

<div class="row">
    <div class="col mx-auto">
        <div nv-file-drop="" data-uploader="ctrl.uploader">
            <div class="well my-drop-zone" nv-file-over data-uploader="ctrl.uploader">
                Drop .txt File here
            </div>
        </div>
    </div>
    <div class="col mx-auto">
        <form>
            <input type="file" accept=".txt" nv-file-select data-uploader="ctrl.uploader"/>
            <ul class="list-group stop-word-upload">
                <li class="list-group-item" ng-repeat="item in ctrl.uploader.queue">
                    <button class="btn btn-success" ng-click="item.upload()">upload</button>
                </li>
            </ul>
        </form>
    </div>
</div>

<hr>

<div class="row">
    <div class="col mx-auto">
        <button class="btn btn-dark"
                data-toggle="modal"
                data-target="#confirmModal"
                data-ng-click="ctrl.showConfirmModal(ctrl.archiveDataAction)">
            Archive Tweets
        </button>
    </div>
</div>

<hr>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Action</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span data-ng-bind="ctrl.confirmMessage"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-ng-click="ctrl.closeConfirmModal()">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="ctrl.performAction()">Make changes</button>
            </div>
        </div>
    </div>
</div>