<div>
    <toast></toast>
    <div class="row">
        <div class="col">
            <label for="wordSearch">Filter: </label>
            <input type="text" id="wordSearch" data-ng-model="ctrl.wordSearch"/>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="list-group-flush" data-ng-repeat="word in ctrl.words | orderBy : '-count' | filter: ctrl.wordSearch">
                <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" ui-sref="word({word: word.word})">
                    <h5 class="d-inline-block">{{word.word}}</h5>
                    <span class="badge badge-primary badge-pill">{{word.count}}</span>
                </div>
            </div>
        </div>
    </div>
</div>